<form role="form" action="/camera/edit/{{id}}" method="POST">
Наименование</br>
<input type="text" name="nameCam" value="{{camera.nameCam}}"></br>
IP Адрес</br>
<input type="text" name="IPCam" value="{{camera.IPCam}}"></br>
MAC Адресс</br>
<input type="text" name="macCam" value="{{camera.macCam}}"></br>
IP коммутатора</br>
<input type="text" name="IPswitch" value="{{camera.IPswitch}}"></br>
№ порта</br>
<input type="text" name="portNumber" value="{{camera.portNumber}}"></br>
Имя фото</br>
<input type="text" name="namePhoto" value="{{camera.namePhoto}}"></br></br>
<input type="submit" value="Редактировать">
</form>
