<!DOCTYPE html>
<!-- saved from url=(0043)http://bootstrap-3.ru/examples/jumbotron/?# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">СЗЖИ</a>
        </div>
        <div class="navbar-collapse collapse in" style="height: auto;">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Вход</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
  <div class="row">
    <div class="col-md-2">
<ul class="nav">
  <li class="active"><a href="/">Главная</a></li>
 <li class="nav-header">Камеры</li>

 <li><a href="/Camers/Show">Просмотр списка</a></li>
 <li><a href="/AddCamers">Добавление</a></li>
 <li><a href="/image/UploadImage">Загрузить фото</a></li>
 <li class="nav-header">Коммутаторы</li>
 <li><a href="#">Просмотр списка</a></li>
 <li><a href="#">Добавление</a></li>
 <li class="nav-divider"></li>
 <li><a href="#">О проекте</a></li>
</ul>




    </div>



    <div class="col-md-10">{{content()}}</div>
  </div>







    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body></html>
